*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

/*  Общие стили */

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Общий стиль button */

.button {
  border: 1px solid currentColor;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.11;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* Состаяние card */

.content__card-link_current {
  background: #545050;
}

/* Лейаут */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result content__details';
  align-items: end;
  gap: 30px;
  min-width: 1140px;
  max-width: 1140px;
}

/*  section 1 */

.result {
  display: flex;
  flex-direction: column;
  grid-area: result;
  row-gap: 16px;
}

/* видео контейнер + видео */

.result__video-container {
  position: relative;
  block-size: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  border: 0;
  font-size: 18px;
}

/* _Кнопка найти_*/

.search-form__submit-button {
  padding: 6px 73.5px;
}

/* Заголовок над поиском */

.search-form__fieldset-title {
  padding-bottom: 5px;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  border-width: 1px 0;
  border-style: solid;
  border-color: currentColor;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
  appearance: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  display: none;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label-text {
  margin-left: 5px;
}

/* При наведении на label (chekbox) подчеркивание текста */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 1px;
}

/* Второй section */

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  gap: 22px;
  height: 100%;
}

.title {
  color: #FFFFFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  padding-bottom: 2px;
  overflow-y: auto;
}

.content__accent {
  color: rgba(255, 255, 255, 0.2);
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.more-button {
  width: 100%;
  max-width: 390px;
  padding: 6px 0;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  padding-bottom: 6px;
  overflow: hidden;
  color: #FFFFFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 0.9;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}